{% extends 'base.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}
<form method="post" autocomplete="off">
    {% csrf_token %}
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="user_email" autocomplete="new-email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Пароль</label>
       <input type="password" name="user_pass" autocomplete="new-password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Увійти</button>
</form>

{% endblock %}
